html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
    margin: 0;
    font-size: 16px;
}

nav {
    font-size: 18px;
    z-index: 1;
    margin: 0;
    opacity: 80%;
    border-bottom: 0.5px solid #0f2027;
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 20px;
    gap: 20px;
}

a {
    color: rgb(190, 190, 190);
    text-decoration: none;
}

a:hover {
    color: white;
    opacity: 100%;
    cursor: pointer;
}

#home {
    margin-top: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grey-text {
    color: rgb(200, 200, 200);
}

h1 {
    font-size: 3rem;
    margin: 0;
}

.quotes {
    margin: 40px 0 30px 0;
    padding: 30px;
}

button {
    display: inline-flex;
    align-items: center;
    padding: 10px 30px;
    border-radius: 40px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 0.5px;
    transform: scaleY(1.1);
    transition: transform 0.4s;
}

button:hover {
    background-color: rgb(185, 185, 185);
    transform: scaleY(1.15);
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.material-icons {
    margin-left: 10px;
    align-items: center;
}

#contact-me-button {
    background: transparent;
    border: 1px solid white;
    color: white;
}

@keyframes bounce {
    from {transform: translateY(8px);}
    to {transform: translateY(-8px);}
}

#scroll-button {
    position: relative;
    top: 30vh;
    font-size: 18px;
    animation: bounce 1s alternate-reverse linear infinite;
}

.divider {
    margin-bottom: 6rem;
}

.scroll-anchor {
  scroll-margin-top: 80px;
}

#about {
    padding: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

.columns {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 5rem;
}

h3 {
    font-size: 1.4rem;
}

.section-text {
    font-size: 1.2rem;
}

#skills {
    
}

.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.translucent-bg {
    display: inline-block;
    color: rgb(237, 237, 237);
    background-color: rgba(111, 119, 117, 0.6);
    border-radius: 0.5rem;
    padding: 0.75rem 1.25rem;
    margin: 4px;
    font-weight: 500;
}

@media (max-width: 768px) {
    body, .button {
    font-size: 0.8rem;
    }
    nav, h3 {
    font-size: 1rem;

    }
    h1  {
    font-size: 2rem;
    }

    h2 {
    font-size: 1.4rem;
    }

    button {
    padding: 5px 15px;
    }

    .section-text, #scroll-button {
    font-size: 0.875rem;
    }

    #scroll-button {
        top: 20vh;
    }


    .divider {
    margin-bottom: 2rem;
    }

    .columns {
    gap: 1rem;
    }

    .non-columns {
    display: flex;
    flex-direction: column;
    }
}