html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: whitesmoke;
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
    font-size: 1rem;
    font-weight: 500;
}

nav {
    font-size: 1rem;
    font-weight: 500;
    z-index: 1;
    border-bottom: 0.5px solid #0f2027;
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
    position: fixed;
    width: 100%;
}

.nav-group {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1rem;
    gap: 20px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: #4698bc;
    opacity: 100%;
    cursor: pointer;
}

#home {
    position: relative;
    min-height: 100vh;
    padding: 40px 20px 80px;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grey-text {
    color: rgb(200, 200, 200);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.quotes {
    margin: 40px 0 30px 0;
    padding: 30px;
}

button {
    display: inline-flex;
    align-items: center;
    padding: 12px 32px;
    border-radius: 2rem;
    border: 1px solid white;
    cursor: pointer;
    letter-spacing: 0.1rem;
    transform: scaleY(1.1);
    transition: transform 0.4s;
}

button:hover {
    background-color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
    transform: scaleY(1.2);
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#contact-me-button {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.material-icons {
    margin-left: 0.5rem;
}

.grey-shadow {
    box-shadow: 0 4px 4px gray;
}

@keyframes bounce {
    from { transform: translateY(8px); }
    to { transform: translateY(-8px); }
}

#scroll-button {
    position: relative;
    top: 20vh;
    animation: bounce 1s alternate-reverse linear infinite;
    background: transparent;
}

.spacer {
    margin-bottom: 1rem;
}

.spacer-2x {
    margin-bottom: 2rem;
}

.spacer-4x {
    margin-bottom: 4rem;
}

.scroll-anchor {
    scroll-margin-top: 60px;
}

#about {
    padding: 6rem 8rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
}

.columns {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 5rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

.section-text {
    font-size: 1rem;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}

.translucent-bg {
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    margin: 4px;
    box-shadow: 0 2px 4px #ffffff
}

#projects {
    padding: 4rem;
}

.project-card {
    display: flex;
    border-radius: 1.5rem;
    background-color: white;
    color:#0f2027;
    overflow: hidden;
}

img {
    display: block;
    height: auto;
}

#copywrite {
    font-size: 0.75rem;
    padding: 1rem;
    opacity: 60%;
    border-top: 1px solid #203a43;
}

@media (max-width: 768px) {
    body, .section-text, #scroll-button {
        font-size: 0.875rem;
    }

    nav, h3 {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    button {
        font-size: 0.75rem;
        padding: 0.4rem 0.8rem;
    }
    
    #scroll-button {
        top: 15vh;
    }


    .columns {
        gap: 1rem;
    }

    .non-columns {
        display: flex;
        flex-direction: column;
    }

    #about {
        padding: 1rem;
    }
}