html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: whitesmoke;
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
    font-size: 1rem;
    font-weight: 500;
}

nav {
    z-index: 1;
    border-bottom: 0.5px solid #0f2027;
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
    position: fixed;
    width: 100%;
}

.nav-group {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1rem;
}

.nav-item:hover {
    color: #4698bc;
}

.nav-item:checked {
    text-decoration: underline;
}

#menu-icon {
    display: inline;
    float: right;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: #bbbbbb;
    opacity: 100%;
    cursor: pointer;
}

#home {
    position: relative;
    min-height: 100vh;
    padding: 40px 20px 80px;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grey-text {
    color: rgb(200, 200, 200);
}

h1 {
    font-size: 2.4rem;
    font-weight: 700;
}

.quotes {
    margin: 40px 0 30px 0;
    padding: 3rem;
}

button {
    display: inline-flex;
    align-items: center;
    padding: 12px 32px;
    border-radius: 2rem;
    border: 1px solid white;
    cursor: pointer;
    letter-spacing: 0.1rem;
    transform: scaleY(1.02);
    transition: transform 0.4s;
}

button:hover {
    background-color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
    transform: scale(1.04);
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hollow-button {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.material-icons, .left-margin {
    margin-left: 0.5rem;
}

.grey-shadow {
    box-shadow: 0 4px 4px gray;
}

@keyframes bounce {
    from { transform: translateY(8px); }
    to { transform: translateY(-8px); }
}

#scroll-button {
    position: relative;
    top: 20vh;
    animation: bounce 1s alternate-reverse linear infinite;
    background: transparent;
}

.spacer {
    margin-bottom: 1rem;
}

.spacer-2x {
    margin-bottom: 2rem;
}

.spacer-4x {
    margin-bottom: 4rem;
}

.scroll-anchor {
    scroll-margin-top: 60px;
}

#about {
    padding: 4rem;
}

h2 {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.column {
    display: grid;
    grid-template-columns: 50% 1fr;
}

.gap {
    gap: 1rem;
}

.gap-2x {
    gap: 2rem;
}

.gap-3x {
    gap: 3rem;
}

h3 {
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    font-weight: 600;
}

.section-text {
    font-size: 1rem;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}

.translucent-bg {
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    margin: 4px;
    box-shadow: 0 2px 4px #ffffff
}

#projects {
    padding: 4rem 1rem;
}

.project-card {
    display: flex;
    border-radius: 0.5rem;
    background-color: white;
    color:#0f2027;
    overflow: hidden;
    height: 30rem;
}

img {
    display: block;
    height: auto;
}


#contacts {
    padding: 6rem 1rem;
    background-color: #0f2027;

}

footer {
    background-color: #0f2027;
}

.icons-list {
    display: flex;
    list-style: none;
    font-size: 1.4rem;
}

@keyframes enlarge {
    from {font-size: 1.25rem; }
    to {font-size: 1.4rem; }
}

.icon-item {
    transition: all 0.3s ease;
}

.icon-item:hover {
    transform: scale(1.2);
  
}

.inline {
    display: flex;
    flex-direction: row;
}

form {
    display: grid;
}

input {
    padding: 0.8rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 1px solid rgb(130, 130, 130);
    color: whitesmoke;
    text-align: left;
}

input:active {
    border-color: white;
    border: 2px solid white;
}


#message-box {
    padding-bottom: 4rem;
}

#submit-btn {
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#copywrite {
    font-size: 0.875rem;
    padding: 1rem;
    opacity: 80%;
}

@media (max-width: 768px) {
    body, .section-text, #scroll-button {
        font-size: 1rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    button {
        font-size: 0.75rem;
        padding: 0.4rem 0.8rem;
    }
    
    #scroll-button {
        top: 15vh;
    }


    .column {
        gap: 1rem;
    }

    .non-column {
        display: flex;
        flex-direction: column;
    }

    #about, #contacts {
        padding: 5rem 1rem;
    }
}